/* Animation styles for the sign-in button */
.animated-sign-in-button {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Animation styles for dropdown fadeIn */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Styles for the flag dropdown */
.dropdown-menu.animated {
  animation: fadeIn 0.3s;
  opacity: 0;
  transition: opacity 0.2s;
  background-color: transparent; /* Transparent background */
  border: none; /* Remove border */
  box-shadow: none; /* Remove box shadow */
}

/* Styles for the flag dropdown items */
.dropdown-menu .dropdown-item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
}

/* Styles for the flag images */
.dropdown-menu .dropdown-item img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

/* Hover styles for the flag dropdown items */
.dropdown-menu .dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Hover background color */
  border-radius: 5px;
}

/* Styles for the active sign-in button */
.animated-sign-in-button.active {
  background-color: white;
  color: black;
}

/* Styles for the main image */
.custom-image {
  margin-bottom: 200px;
  margin-left: -10rem;
  margin-top: 3rem;
  width: 50rem;
  height: 30rem;
}
