.animated-sign-in-button {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}/* Add the following animation styles */
/* Add the following animation styles */
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Apply transparency and border radius to the dropdown menu */
  .dropdown-menu.animated {
    animation: fadeIn 0.3s;
    opacity: 0;
    transition: opacity 0.2s;
    background-color: rgba(255, 255, 255, 0.9); /* Adjust the transparency here */
    border-radius: 8px; /* Adjust the border radius here */
  }
  
  /* On hover, change the opacity to make the dropdown fully visible */
  .dropdown:hover .dropdown-menu.animated {
    opacity: 1;
  }
  
  /* Add the pulse effect to the flag icons inside the dropdown */
  .dropdown-menu img.pulse {
    animation: pulse 2s infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  