.page-title-wrap {
  position: relative;
}

.wave-animation {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%; /* Yüzde cinsinden yükseklik */
  opacity: 0.9;
  background: url('../images/media/wave.png') repeat-x;
  background-size: 200% 100%; /* Arka plan boyutu */
  animation: wave-animation 50s infinite linear;
}

.wave-animation2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%; 
  opacity: 0.9;
  
  
  background: url('../images/media/wave.png') repeat-x;
  background-size: 200% 100%; /* Arka plan boyutu */
  animation: wave-animation 30s infinite linear;
}

.wave-animation3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%; /* Yüzde cinsinden yükseklik */
  background: url('../images/media/wave.png') repeat-x;
  background-size: 200% 100%; /* Arka plan boyutu */
  animation: wave-animation 40s infinite linear;
  opacity: 0.7;
}

@keyframes wave-animation {
  0% {
    background-position: 0 0; /* 0% yatay ve dikey pozisyon */
  }
  100% {
    background-position: 200% 0; /* Yatayda 200%, dikeyde 0% pozisyon */
  }
}
